@import "tailwindcss";



@theme {
  --color-cement: #121212; 
  --color-ink: #EBEBEB;    
  --color-border: #2A2A2A; 
  --color-safety: #FF5733;

  --font-sans: var(--font-plex-sans);
  --font-mono: var(--font-plex-mono);
}

@layer base {
  body {
    @apply bg-cement text-ink; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html {
  scroll-behavior: smooth;
}