@import "tailwindcss";



@theme {
  --color-cement: #121212; 
  --color-ink: #EBEBEB; 
  --color-charcoal: #1A1A1A;   
  --color-border: #2A2A2A; 
  --color-secondary: #808080;
  --color-safety: #FF4F00;


  --font-sans: var(--font-plex-sans);
  --font-mono: var(--font-plex-mono);
}

@layer base {
  body {
    @apply bg-cement text-ink; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html {
  scroll-behavior: smooth;
}