@import "tailwindcss";



@theme {
  /* Variables base (Light) */
  --color-cement: #F7F7F7;
  --color-card: #FFFFFF;
  --color-ink: #1A1A1A;  
  --color-border: #E5E5E5;
  --color-secondary: #707070;
  --color-safety: #FF5733;

  --font-sans: var(--font-plex-sans);
  --font-mono: var(--font-plex-mono);
}

@layer base {
  .dark {
    --color-cement: #0A0A0A;
    --color-ink: #F7F7F7;
    --color-secondary: #A1A1AA;
    --color-border: #27272A;
    --color-card: #141414; 
  }

  body {
    @apply bg-cement text-ink transition-colors duration-500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html, body, section, div {
  scrollbar-width: none;
  
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}